Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 120

BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline

BreakFunctionDefinitionParameters: false

PackConstructorInitializers: CurrentLine
BreakConstructorInitializers: BeforeColon

AlignAfterOpenBracket: Align
AlignOperands: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None

BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true

Cpp11BracedListStyle: true

IndentCaseLabels: true
IndentCaseBlocks: false
IndentGotoLabels: false

NamespaceIndentation: None
CompactNamespaces: false
FixNamespaceComments: true

SortIncludes: CaseSensitive
IncludeBlocks: Regroup

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

ReflowComments: true

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

AlwaysBreakTemplateDeclarations: MultiLine

BreakInheritanceList: BeforeColon

BreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000000

InsertBraces: false
